{% load i18n %}
{% if message %}
<p class="alert text-center alert-warning">Group Error: {{message}} </p>
{% endif %}
<table class="table table-aa">
    <thead>
        <th>Requirements</th>
        <th class="text-right">Result</th>
    </thead>
{% for filter in filters %}
    <tr>
        <td>{{ filter.message }}</td>
        <td>{% if filter.output %}<a class="pull-right btn btn-success" type="button" ><i class="fas fa-check-circle"></i></a>{% else %}<a class="pull-right btn btn-danger" type="button" ><i class="fas fa-times-circle"></i></a>{% endif %}</td>
    </tr>
{% endfor %}
</table>

<div class="col-sm-12">
    <a class="btn btn-primary col-md-12" {% if pass_checks %}href="{% url 'securegroups:request_add' group_id %}">Join Group{% else %} disabled>Ineligible{% endif %}</a>
</div>
